/* importing Outfit fonts form google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/* creating variables of fonts and color */
:root {
  --outfit: "Outfit", sans-serif;
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Verydark-blue1: hsl(217, 54%, 11%);
  --Verydark-blue2: hsl(216, 50%, 16%);
  --Verydark-blue3: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

/* reseting default styling of browser  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--outfit);
}

/* default css of forntend mentor */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Verydark-blue1);
}

main .card{
    background-color: var(--Verydark-blue2);
    padding: 1.5rem;
    border-radius: 15px;
}

main .card .img {
    max-width: 275px;
    position: relative;
}

main .card .img .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 247, 0);
    z-index: 1;
    position: absolute;
    transition: 0.3s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

}
main .card .img .overlay img{
    width: 50px;
    height: 50px;
    display: none;
    transition: 0.3s all ease-in-out;
}

main .card .img .overlay:hover img{

    display: block;
}
main .card .img:hover .overlay{
    background-color: rgba(0, 255, 247, 0.5);
    border-radius: 10px;
    

}

main .card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

main .card .card-content{
    width: 275px;
}

main .card .card-content h1{
    font-size: 1.5rem;
    color: var(--White);
    font-weight: 600;
    letter-spacing: 1.25px;
    transition: 0.3s all ease-in-out;
    cursor: default;
    line-height: 3.5rem;
}

main .card .card-content h1:hover{
    color: var(--Cyan);
}

main .card .card-content p{
    font-size: 1rem;
    color: var(--Soft-blue);
    font-weight: 400;
    line-height: 1.5rem;
}

main .card .card-content .price-updatedtime{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

main .card .card-content .price-updatedtime .col{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;

}

main .card .card-content .price-updatedtime .col p{
    font-weight: 300;
    font-size: 1rem;
}

main .card .card-content .price-updatedtime .col:nth-child(1) p{
    font-weight: 600;
    color: var(--Cyan);
}

main .card .card-createdby {
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    border-top:2px  solid var(--Verydark-blue3) ;
    padding-top: 1rem;
}

main .card .card-createdby img{
    width: 35px;
    border: 2px solid var(--White);
    border-radius: 50%;
}

main .card .card-createdby p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--Soft-blue);

}

main .card .card-createdby p span{
    font-weight: 400;
    color: var(--White);

}

main .card .card-createdby p span:hover{
    color: var(--Cyan);
    transition: 0.3s all ease-in-out;
    cursor: default;
}